.erreur {
    &__contenu {
      background-size: cover;
      background-position: center;
      padding: 100px 20px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      animation: fadeIn 0.8s ease-in-out;
    }
  
    &__titre {
        font-size: 4rem; 
        color: #ffd700;
        margin-bottom: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        
        background-color: rgba(148, 148, 148, 0.4); 
        padding: 20px 30px;
        border-radius: 16px;
        display: inline-block;
        max-width: 800px;
        line-height: 1.2;
        word-break: break-word;
      }
    
      &__texte {
        font-size: 0.80rem;
        color: #ffd700;
        max-width: 800px;
        line-height: 1.6;
        margin-bottom: 40px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        
        background-color: rgba(148, 148, 148, 0.4); 
        padding: 16px 24px;
        border-radius: 14px;
        display: inline-block;
        word-break: break-word;
      }
    &__bouton {
      background-color: #ffd700;
      color: #000;
      padding: 12px 24px;
      border-radius: 25px;
      font-weight: bold;
      text-decoration: none;
      transition: transform 0.3s ease, background-color 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
        background-color: #e6c200;
      }
    }
  
    &__form {
      margin-top: 30px;
      color:  #e6c200 !important ;
    }
  
    &__input {
      padding: 12px 20px;
      font-size: 1rem;
      border: none;
      color:  #e6c200 !important ;
      outline: none;
      min-width: 220px;
      text-align: left;
      background-color: rgba(148, 148, 148, 0.4);
      border-bottom: 2px solid  #e6c200;
    }
 }

  
  


.erreur__destinations {
    margin-top: 40px;
    text-align: center;
  }
  
  .erreur__sous-titre {
    font-size:14px;
    margin-bottom: 10px;
    color: white;
  }
  
  .erreur__boutons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .erreur__btn {
    background-color: #ffd700;
    color: #000;
    padding: 6px 14px;       
    font-size: 0.85rem;     
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    display: inline-block;
  
    &:hover {
      background-color: #e6c200;
      transform: scale(1.05);
    }
  }
  