.footer {
    background-color: rgb(255, 245, 250);
    color: black;
    padding: 30px 20px;
    text-align: center;
    border: 2px dotted black;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-contact, .footer-horaire, .footer-social {
    flex: 1;
    min-width: 250px;
}

.footer-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(45, 45, 45);
    display: inline-block;
    padding-bottom: 5px;
}

.footer-email, .footer-phone, .footer-address, .footer-jour, .footer-heure {
    font-size: 16px;
    line-height: 1.6;
}

.footer-email a, .footer-phone a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-email a:hover, .footer-phone a:hover {
    text-decoration: underline;
}

.footer-social {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    
}

.social-link img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  
}

.social-link img:hover {
    transform: scale(1.2);
    color: black;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
