/* ========== FOOTER ========== */

.footer {
    margin-top: 40px;
    background-color: rgb(255, 245, 250);
  border: 2px dotted darkblue;
    padding: 40px 20px 20px;
   
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  
    margin: auto;
    padding-bottom: 20px;
}

.footer-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:darkblue;
}

.footer-contact p,
.footer-horaire p,
.footer-social p {
    margin: 6px 0;
    font-size: 0.95rem;
}

.footer-contact a,
.footer-phone a {
    color:black;
    text-decoration: underline;
}

.footer-social img {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-search {
    text-align: center;
    margin: 20px auto;
}

.footer-search input[type="search"] {
    padding: 10px 15px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-submit {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-submit:hover {
    background-color: #444;
    transform: scale(1.05);
}


.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 30px;
    font-size: 0.9rem;
 
}

.footer-nav {
    text-align: center;
    margin-bottom: 20px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
}

.footer-nav li {
    display: inline-block;
    margin: 0 10px;
}

.footer-nav a {
  
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-search input[type="search"] {
        width: 100%;
        max-width: 300px;
    }
}
