.populaire .global {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  

.populaire p {
    font-size: 1.1rem;
    line-height: 1.8;
    padding: 10px;
}
.populaire h2 {
    font-size: 2.2rem;
    color: #333;             
    border-bottom: 3px solid #d3c4f3; 
    padding-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;     
    letter-spacing: 1px;         
}

body > article {
    padding: 40px;
}
